* {
    margin:0px;
    padding: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
@keyframes transitionOnLoad{
    from {
        opacity: 0;
        transform: rotateX(-30deg);
        transform: translateY(150px);
    }
    to {
        opacity: 1;
        transform: rotateX(0deg);
        transform: translateY(0px);
    }
}
html{
    background-image: linear-gradient(to bottom, rgb(44, 15, 177), rgb(0, 0, 0));
    background-repeat: no-repeat;
    
}
body{
    background-image: url(background.webp);
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
.container{
    animation: transitionOnLoad 1.75s;
    color: white;
    width: 420px;
    height: 250px;
    display:flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 2px solid rgba(186, 187, 255, 0.315);
    background-color: rgba(2, 31, 70, 0.562);
    border-radius: 20px;
    padding: 30px 40px;
    margin: 30px;
    backdrop-filter: blur(9px);
    
}
form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2{
    margin-bottom:20px;
}
input{
    width: 250px;
    margin-bottom: 3px;
    border:solid 2px rgba(19, 20, 112, 0.315);
    background: transparent;
    background-color: rgba(2, 31, 70, 0.562);
    border-radius: 2px;
    color: rgba(255, 255, 255, 0.61);
    padding:5px;
    backdrop-filter: blur(9px);
    transition:0.3s;
    
}
button{
    margin-top: 10px;
    width: 263px;
    height: 40px;
    border:solid 2px rgba(19, 20, 112, 0.315);
    background: transparent;
    background-color: rgba(2, 31, 70, 0.562);
    border-radius: 2px;
    color: rgba(255, 255, 255, 0.61);
    padding:5px;
    backdrop-filter: blur(9px);
    font-weight:900;
    transition:0.3s;
}
input:hover{
    background-color: rgba(1, 12, 26, 0.562);
    transition:0.3s;
}
button:hover{
    background-color: rgba(1, 12, 26, 0.562);
    transition:0.3s;
}