*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(228, 228, 228);
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    
}
header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top:10px;
}
.header{
    width: 200px;
}
.username{
    color:rgb(170, 170, 170);
    font-weight: 100;
}
.wideimg{
    border-radius: 1%;
    width:auto;
    margin: 10px 0px;
    padding: 0px;
    height: 70px;
}
.content{
    width: 300px;
    border-radius: 2px;
    background-color: white;
    padding: 0px 20px;
    box-shadow: 3px 3px 3px rgb(141, 141, 140);
    border: solid 2px rgb(223, 223, 223);
    display:flex;
    flex-direction: column;
}
.info::before {
    content: "• • • •";
    display: flex;
    justify-content: center;
    color: rgb(230, 230, 230);
    font-size: 20px;
    letter-spacing: -1px;
    margin-top:-30px;
    margin-bottom: 10px;
}
img {
    height: 40px;
    width: 40px;
    background-color: rgb(182, 182, 182);
    padding:10px;
    border-radius: 100%;
}
span{
    display: flex;
    justify-content:left;
    align-items: center;
}
.icon{
    padding: 0px;
    border-radius: 0;
    background-color: transparent;
    height: 20px;
    width: 20px;
    margin-right:10px;
    }
h5{
    margin: 11px;
    font-weight:100;
    color: rgb(100, 100, 100);
}
h4{
    margin: 10px;
}
strong{
    font-weight:bold;
    color: rgb(41, 41, 41);
}